---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "ホームページ";
---
<!-- https://github.com/Nietz3203/mypage.git -->

<BaseLayout pageTitle={pageTitle}>
	<h2>私の素晴らしいブログのサブタイトル</h2>
</BaseLayout>